body{
    background-color: 
    #fafafa;
}

/* header*/
header{
    display: flex;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    justify-content: space-between;
    height: 5rem;
}

.logo{
    flex-basis: 250px;
    min-width: 200px;
    flex-shrink: 1;
    object-fit: contain;
}

.header-glass{
    max-width: 45px;
    background-color: white;
    object-fit: contain;
}

.search-bar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.search-bar > input{
    width: 300px;
    height: 90%;
    font-size: large;
}

@media (max-width: 776px){
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* section 1*/
#section1{
    margin-top: 100px;
    text-align: center;
}

#section1 > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 40px;
}

#section1 > p{
    font-size: 20px;
}

#scroll-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
}

.section1-cards-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary-switched{
    color: rgb(57, 105, 239);
    background-color: #fff;
    border: 2px solid rgb(57, 105, 239);
    font-weight: 500;
}

.btn{
    border-radius: 8px;
    width: 100%;
}

.card{
    border-radius: 20px;
    margin: 2px;
    align-items: center;
}

.card-container{
    background-color: #0000000f;
    border-radius: 20px;
}

.card img{
    max-width: 150px;
}

.scroll-arrow{
    width: 50px;
}

@media (max-width: 598px){
    .section1-cards-container{
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
}